---
import layout from '../layouts/layout.astro';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-list</title>
</head>
<body>
    <div class="todo-container">
    <input
        type="text"
        id="newTodo"
        placeholder="Enter a new task"
        class="todo-input"
        />
    <button id="todoList" class="todo-list"></ul>
    </div>
    <script src="../components/script.js"></script>
</body>
</html>